# Виртуальное окружение
.venv/
venv/

# Байткод Python
__pycache__/
*.pyc

# Секреты и локальные настройки
.env

# Служебные файлы macOS
.DS_Store

# Артефакты инструментов тестирования/линтинга
.early.coverage/
.pytest_cache/

# Временные файлы MS Office
~$*.docx
~$*.doc




